<div class="p-4">
  <div class="sort-container" *ngIf="isPhone">
    <label for="sort-select">Сортировать по:</label>
    <select id="sort-select" (change)="onSortChange($event)">
      <option *ngFor="let field of displayedColumns" [value]="field">
        {{ getFieldLabel(field) }}
      </option>
    </select>
    <button mat-icon-button (click)="toggleSortDirection()" class="sort-direction">
      <mat-icon>{{ sortDirection() === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
    </button>
  </div>

  <!-- Таблица -->
  <div class="table-container mat-elevation-z8" *ngIf="!isPhone">
    <table mat-table [dataSource]="dataSource()" matSort class="sticky-table">
      <ng-container *ngFor="let field of displayedColumns" [matColumnDef]="field">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ getFieldLabel(field) }} </th>
        <td mat-cell *matCellDef="let route"> {{ getRouteField(route, field) }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Карточки -->
  <div class="card-container" *ngIf="isPhone">
    <div class="card" *ngFor="let route of sortedRoutes()">
      <div class="card-content card-styled">
        <ng-container *ngFor="let field of displayedColumns">
          <div class="card-row">
            <div class="card-item">
              <strong>{{ getFieldLabel(field) }}</strong>
              <span>{{ getRouteField(route, field) }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
